<%- include("partials/header") -%>

   <br>
   <br>
   <div class="links">
    <a href="#"> <center>  Call for Papers </center></a>
    <a href="#"><center> Register Today </center> </a>
    <a href="#"><center> Join Physically </center> </a>
    <a href="#"><center> Join Virtually </center> </a>
  </div>
  <br>
  <br>
  <br>


  <div class="add-date">
    <div class="address box1">
        <a href="/map" title="Click here to view map">
            <i class="fa-sharp fa-solid fa-location-dot"></i>
          </a>

        <h2>Address</h2>
        <p>N B Navale Sinhgad College of Engineering, Kegaon-Solapur
            Gat No. 38/1 B, Kegaon, Solapur Pune Highway, Solapur-413255 , MH, INDIA</p>

    </div>

    <div class="date box1">

        <i class="fa-regular fa-calendar-days"></i>
       
        <h2>Date</h2>
        <p>1st & 2nd April 2023</p>

    </div>
  </div>
  <br><br><br>

  <div class="about-conference">

    <h2>About Conference</h2>
    <br>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, eveniet? Nesciunt harum nemo veniam distinctio facere velit, quasi ad placeat quidem iure qui praesentium explicabo dignissimos voluptate fugiat necessitatibus quisquam unde sunt id eaque facilis porro ducimus error. Quam ex cupiditate tempora qui error laborum quasi quibusdam, consequuntur suscipit quisquam porro illo non, a est fugit libero reiciendis, veniam sit placeat repellat expedita alias impedit dicta vitae? Quibusdam, non impedit at odio esse illo nobis dolorem alias velit. Consequuntur praesentium, maxime quisquam nam excepturi fuga explicabo quibusdam exercitationem similique quo esse perferendis dolor quia nemo libero ipsum voluptates dolore assumenda.</p>
  </div>
  <br><br>

  <a href="#"> <center><Button>Register Now</Button></center></a>
  <br><br><br><br>


  


<%- include("partials/footer") -%>
